export(drawkaffee)
export(func.Bitterkeit)
export(func.Geschmack)
export(func.Koerper)
export(func.Saeure)
export(func.Suesse)
export(kaffee.optim)
export(kaffee.optim.plot)
export(kaffee.qual)
export(kaffee.splom.panel)
export(pred.data)
importFrom(lattice,panel.abline)
importFrom(lattice,panel.xyplot)
importFrom(zoo,zoo)
